/*.root {*/
/**/
    /*-fx-selection-bar: red;*/
    /*-fx-accent: red;*/
    /*-fx-focus-color: #e65100;*/
/*}*/

.label{
    -fx-font-size: 15px;
}

.button .text{
    -fx-font-size: 15px;
}

.arrow-button .arrow{
    -fx-background-color: #e65100;
}

/*.text-field {*/
    /*-fx-focus-color: -fx-control-inner-background ;*/
    /*-fx-faint-focus-color: -fx-control-inner-background ;*/
/*}*/

/*.text-field:focused {*/
    /*-fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),*/
    /*linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);*/
/*}*/

.table-view{
    /*-fx-focus-color: transparent;*/
    /*-fx-faint-focus-color: transparent;*/
    -fx-border-color: #e65100;
    /*-fx-selection-bar: red;*/
    /*-fx-text-fill: black;*/
}

.table-column {
    /*-fx-background-color: white;*/
    -fx-padding: 5px;
}

.column-header-background .filler {
    -fx-background-color: white;
}

.column-header-background {
    /*-fx-border-color: #e65100;*/
    /*-fx-border-style: none none solid none;*/
    /*-fx-border-style-bottom: solid ;*/
}

.table-column .label .text {
    -fx-font-weight: normal;
}

.table-view:focused{
    /*-fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),*/
    /*linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);*/
}

.table-view .text {
    -fx-font-size: 15;
}