.j-container{
    -fx-background-color: white;
}

.j-button {
    -fx-background-color: #cccccc;
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}

.j-button:hover {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.j-text-small{
    -fx-font-size: 12px;
}

.j-text{
    -fx-font-size: 15px;
}

.j-round{
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
}

.j-padding-5{
    -fx-padding: 5px;
}

.j-padding-10{
    -fx-padding: 10px;
}

.j-padding-20{
    -fx-padding: 20px;
}

.j-spacing-5{
    -fx-spacing: 5px;
}

.j-spacing-10{
    -fx-spacing: 10px;
}

.j-spacing-20{
    -fx-spacing: 20px;
}

.j-text-bold{
    -fx-font-weight: bold;
}

/*text fields*/

/* background Colors */
.j-orange{
    -fx-background-color: #e65100;
    -fx-text-fill: white;
}

.j-white{
    -fx-background-color: white;
    /*-fx-text-fill: #e65100;*/
}

.j-border-transparent{
    -fx-border-width: 1px;
    -fx-border-color: white;
}

.j-dark-orange{
    -fx-background-color: #bf360c;
    -fx-text-fill: white;
}

.j-border-orange {
    -fx-border-color: #e65100;
}

.j-light-grey{
    -fx-background-color: #eeeeee;
}

.j-hover-white:hover{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.j-hover-dark-orange:hover{
    -fx-background-color: #e65100;
    -fx-text-fill: white;
}

/*foreground colors*/
.j-text-white{
    -fx-text-fill: white;
}

.j-text-orange{
    -fx-text-fill: #e65100;
}

.j-hover-text-dark-orange:hover{
    -fx-text-fill: #bf360c;
}